# ===== Telegram Bot Config =====
# BotFather থেকে নিয়ে এখানে বসান (@BotFather -> /newbot)
TELEGRAM_BOT_TOKEN=8452240765:AAH6qwvRkyCJDrOzWjO5lm9u0aljHEsQDcA

# কমা দিয়ে একাধিক অ্যাডমিন আইডি দিতে পারবেন (যেমন: 123456,789012)
ADMIN_IDS=6492138723

# ডেভেলপার ইউজারনেম (@ ছাড়াই বা সহ দুটোই কাজ করবে)
DEVELOPER_USERNAME=@the_silent_hacker_raj

# Force-join চ্যানেল আইডি (কমা দিয়ে একাধিক)
REQUIRED_CHANNEL_IDS=-1004385560526

# Force-join চেক চালু/বন্ধ
FORCE_JOIN_ENABLED=True